---
import Layout from '../layouts/Layout.astro'
---

<Layout title='Invitame - Tarjetas Web'>
  <header class='flex justify-between w-full bg-red-500'>
    <h1 class='text-4xl font-bold'>Invitame</h1>

    <div>
      <a href=''></a>
      <a href=''></a>
      <a href=''></a>
      <a href=''></a>
    </div>
  </header>
</Layout>
