---
import '@fontsource-variable/montserrat'
import Music from '../components/Music.astro'

const { music = true } = Astro.props
---

<!doctype html>
<html lang='es'>
  <head>
    <meta charset='UTF-8' />
    <title>Mía - Quince Años</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='icon' href='/mariposa-blanca.webp' type='image/webp' />
    <meta property='og:title' content='Mía - Quince Años' />
    <meta property='og:image' content='https://invita-me.vercel.app/og.webp' />
    <meta property='og:type' content='website' />
    <meta property='og:url' content='https://invita-me.vercel.app/mia-quince' />
  </head>
  <body class='select-none bg-tertiary *:px-4'>
    {music && <Music src='/music/music.mp3' />}
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: 'Yustine Signature';
    src: url('/fonts/Yustine Signature.otf') format('opentype');
  }

  @font-face {
    font-family: 'Mallorga';
    src: url('/fonts/Mallorga Regular.otf') format('opentype');
  }

  @font-face {
    font-family: 'Adelia';
    src: url('/fonts/adelia.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Audrey';
    src: url('/fonts/Audrey-Normal.otf') format('opentype');
  }

  @font-face {
    font-family: 'Bacalisties';
    src: url('/fonts/Bacalisties.ttf') format('truetype');
  }

  :root {
    font-size: 16px;
  }

  html {
    font-family: 'Montserrat Variable', sans-serif;
  }

  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
</style>
